
    body{
      text-align: center;
      background-color:black;
    }
    .board{
      margin: auto;
      height: 600px;
      width: 600px;
    }
#username{
  text-transform: uppercase;
  color: blue;
  display:inline;
  margin-right: 10px;
}
#username2{
  text-transform: uppercase;
  color: blue;
  display:inline;
}
.board button{
      color: blue;
      height: 100px;
      width: 100px;
      margin: 0px;
      padding: 0px;
      float:left;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 3em;
    }
    #messages{
      color: blue;
      margin-top: 10px;
      font-color: white;
    }